{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Retourner à la liste</a>
{% endblock %}
